<html>
<head>
<title>Eagle Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;"

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bird.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class='container'>
        <div class='border border-dark w-100 p-3'>
            <h2>Eagle Has Landed!</h2>
            <hr>
            <table id='eagles' class='table table-striped border border-dark'>
                <% for (var x in eagles) { %>
                    <tr>
                        <td>Eagle Name: <a href='/eagles/<%= eagles[x].id %>'><%= eagles[x].name %></a></td>
                        <td> Eagle Id: <%= eagles[x].id %></td>
                        <td><a href='/edit/<%= eagles[x].id %>'><button class='btn btn-outline-primary btn-sm d-inline'>Edit</button></a></td>
                        <td><form action='/destroy/<%= eagles[x].id %>' method='POST'><input type='hidden' placeholder="<%= eagles[x].id %>" value='<%= eagles[x].id %>'><input type='submit' class='btn btn-outline-primary btn-sm d-inline' value='Delete'></form></td>
                    </tr>
                <% } %>
            </table>
            <a href='/new'><button class='btn btn-outline-primary btn-sm d-inline'>New Eagle</button></a>
        </div>    
    </div>
</body>
</html> 